<div class="users-container">
    <h1 class="users-heading">Users Count <%= @users.length%></h1>


    <% if current_user %>
           <% else %>
        <p>      
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
        </p>

    <% end %>


    <% @users.each do |user| %>
        <%= link_to user_path(user.id), class:"text-dec" do %>
        <div class="user-box">
            <img class="user-img" src=<%= user.Photo %> alt=<%= user.Name %>/>
            <div class="user-info-box">
                <h2 class="user-name"><%= user.Name %></h2>
                <p class="user-post-count">Total Posts: <%= user.PostsCounter%></p>
            </div>
        </div>
        <% end%>
    <% end %>
</div>