
<div class="user-show-c">
  <%= render partial: 'partials/user', locals: {user: @user} %>
  <div class="row justify-content-center mx-5">
    <p class="col-">Bio:
      <%= @user.Bio %>
    </p>
  </div>

  <% if @user.posts.count < 0 %>
    <p><%= @user.Name %>
      doesn't have a post !></p>
  <% else %>
    <% @user.last_three_posts.each do |post| %>
      <%= render partial: 'partials/post_helper', locals: {post: post} %>
    <% end %>
    <%= link_to("See all posts", user_posts_path(@user), class: "btn btn-success") %>
  <% end %>
</div>