<div class="post-show-c">
    <div class="user-recent-post">
        <div class="post-inf-box"
            <h2 class="user-post-title">Post : <%= @post.Title %> by <%= @user.Name %></h2>
            <h3>Comments: <%= @post.CommentsCounter%>, Likes: <%= @post.LikesCounter %><h3>
        </div>
        <p class="user-post-text"><%= @post.Text %></p>

        

        <%= button_to "Like", user_post_likes_path(post_id: @post.id), params: { like: { post_id: @post.id } }, class: "fa-regular fa-heart" %> &nbsp;
       

    </div>

    <div class="post-comments">
        <% @comments.each do |comment|%>
            <h3><%= comment.user.Name %></h3>
            <p id="comment"><%= comment.Text %></p>

        <% end %>
    </div>
    
    <%= render partial: "partials/add_comment", local: { post: @post } %>
</div>